* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.qbin binary
*.qids binary
*.l2bin binary
*.l2chk binary
*.pyd binary
*.dll binary
*.exe binary
*.lib binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
